<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Some website</title>
</head>
  <body>
    {{> header}}
    <p>A new project 1</p>
    <p>A new project 2</p>
    {{> footer}}
  </body>
</html>
